<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/report-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title> Faida Yetu &middot; Branch Report </title>
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Corporate Report</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Corporate Report</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- Parent View -->
        <div class="row parent-panel">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left m-b-0">Corporate Report</h4>
                        <!--Audit Logs-->
                        <div class="float-right">
                            <button type="button" class="btn btn-success" data-action="refresh">Refresh </button>

                            <!--<button class="btn btn-flat btn-default date-range" title="Specify Range ">-->
                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                                <!--<span>Specify Range </span>-->
                            <!--</button>-->
                            <!--<div class="btn-group ">-->
                                <!--<select class="form-control m-input" name="branchNo" data-filter="branches">-->
                                    <!--<option value="">   Select Branch  </option>-->
                                    <!--<option th:each="item : ${branch}"-->
                                            <!--th:value="${item.id}"-->
                                            <!--th:text="${item.name}"></option>-->
                                <!--</select>-->
                            <!--</div>-->
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-cloud-down"></i>
                                </button>


                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <th:block sec:authorize="hasRole('Corporate Reports')">
                            <table class="table table-striped table-bordered table-sm parent-table">
                                <thead>
                                <tr>
                                    <th>Corporate </th>
                                    <th>No of Applicants</th>
                                    <th>Total Amount</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Corporate </th>
                                    <th>No of Applicants</th>
                                    <th>Total Amount</th>
                                </tr>
                                </tfoot>
                            </table>
                            </th:block>
                            <th:block sec:authorize="!hasRole('Corporate Reports')">
                                <th:block th:replace="fragments/access-denied::block"></th:block>
                            </th:block>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Child View -->
        <div class="row child-panel d-none">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left m-b-0 card-title">Corporate Report</h4>

                        <!--Audit Logs-->
                        <div class="float-right">
                            <button type="button" class="btn btn-info">Back</button>
                            <button type="button" class="btn btn-success" data-action="refresh">Refresh </button>
                            <div class="btn-group status ">
                                <button type="button" class="btn btn-danger dropdown-toggle title-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    -- Status --
                                </button>
                                <div class="dropdown-menu filter">
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="">-- Status --</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Success">Success</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Failed">Failed</a>
                                </div>
                            </div>

                            <button class="btn btn-flat btn-default date-range" title="Specify Range ">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>Specify Range </span>
                            </button>

                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-cloud-down"></i>
                                </button>
                                <div class="dropdown-menu download-report">
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="csv" target="_blank">CSV</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="excel" target="_blank">Excel</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="pdf" target="_blank">PDF</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm child-table">
                                <thead>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Applicant Name</th>
                                    <th>Passport</th>
                                    <th>Phone</th>
                                    <th>Reference No</th>
                                    <th>Loan Type</th>
                                    <th>Repayment Period</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Applicant</th>
                                    <th>Passport</th>
                                    <th>Phone</th>
                                    <th>Reference No</th>
                                    <th>Loan Type</th>
                                    <th>Repayment Period</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</th:block>

<th:block layout:fragment="report-scripts">
    <script th:src="@{/js/reports/report.js}" ></script>
</th:block>

</body>
</html>