<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/report-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title> Faida Yetu &middot; Failed Applications </title>
    <!--<link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">-->
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Failed Applications</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Failed Applications</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- basic table -->
        <div class="row parent-panel">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left m-b-0">Failed Applications</h4>
                        <!--Audit Logs-->
                        <div class="float-right">
                            <button type="button" class="btn btn-success" data-action="refresh">Refresh </button>

                            <button class="btn btn-flat btn-default date-range" title="Specify Range ">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>Specify Range </span>
                            </button>

                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-cloud-down"></i>
                                </button>
                                <div class="dropdown-menu download-report">
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="csv" target="_blank">CSV</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="excel" target="_blank">Excel</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="pdf" target="_blank">PDF</a>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="card-body failed-transactions">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-sm parent-table">
                                <thead>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Reference No</th>
                                    <th>Amount</th>
                                    <th>Loan Type</th>
                                    <th>Response Code</th>
                                    <th>Message</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Reference No</th>
                                    <th>Amount</th>
                                    <th>Transaction Type</th>
                                    <th>Response Code</th>
                                    <th>Message</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</th:block>

<!--<th:block layout:fragment="script">-->
    <!--<script th:src="@{/plugins/datatables/datatables.min.js}"></script>-->
    <!--<script th:src="@{/js/reports/fairoutemappedions.js}" ></script>-->
<!--</th:block>-->

</body>
</html>