<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="_context_path" th:href="@{/}"/>

    <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/faida-fav.png}">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/theme/css/style.min.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/components.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/icons/font-awesome/css/all.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/icons/themify/themify-icons.css}" />
    <link href="//cdn.materialdesignicons.com/3.0.39/css/materialdesignicons.min.css" rel="stylesheet" />

    <!-- Begin: GLOBAL PLUGINS-->
    <link rel="stylesheet" th:href="@{/plugins/sweetalert/sweetalert.css}" />
    <link rel="stylesheet" th:href="@{/plugins/formvalidation/formValidation.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/intelutil/css/intlTelInput.css}" />
    <!-- End: GLOBAL PLUGINS-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<!--<body data-theme="dark">-->
<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" class="mini-sidebar"
     data-layout="vertical"
     data-navbarbg="skin5"
     data-sidebar-position="fixed"
     data-header-position="fixed"
     data-boxed-layout="full"
     data-sidebartype="full">

    <div th:replace="fragments/header::header"></div>

    <div th:replace="fragments/menu::menu"></div>

    <div class="page-wrapper">
        <th:block layout:fragment="content"></th:block>
    </div>

</div>


<th:block layout:fragment="modals"></th:block>



<script th:src="@{/theme/js/jquery.min.js}"></script>
<script th:src="@{/theme/js/popper.min.js}"></script>
<script th:src="@{/theme/js/boostrap.min.js}"></script>
<script th:src="@{/theme/js/app.min.js}"></script>
<script th:src="@{/plugins/perfect-scrollbar/perfect-scrollbar.jquery.min.js}"></script>
<script th:src="@{/plugins/sparkline/sparkline.js}"></script>
<script th:src="@{/plugins/waves.js}"></script>
<script th:src="@{/theme/js/sidebar-menu.js}"></script>
<script th:src="@{/theme/js/custom.min.js}"></script>

<!-- begin::Global Plugins -->
<script th:src="@{/plugins/sweetalert/sweetalert.js}"></script>
<script th:src="@{/plugins/formvalidation/formValidation.min.js}"></script>
<script th:src="@{/plugins/formvalidation/framework/bootstrap.min.js}"></script>
<script th:src="@{/plugins/intelutil/js/intlTelInput.min.js}"></script>

<script th:src="@{/plugins/block.min.js}"></script>
<!-- end::Global Plugins -->

<script th:src="@{/js/app-utils.js}"></script>

<!--Additional JS resources-->
<th:block layout:fragment="script"></th:block>
<!--Additional JS resources-->

</body>
</html>