<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{img/favicon.png}">
    <title>Faida Yetu &middot; Faida Yetu </title>

    <!-- Custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/theme/css/style.min.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/components.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/icons/font-awesome/css/all.css}" />
    <link rel="stylesheet" th:href="@{/theme/css/icons/themify/themify-icons.css}" />
    <link rel="stylesheet" th:href="@{/css/error.css}" />

    <!--Begin: GLOBAL PLUGINS-->
    <link rel="stylesheet" th:href="@{/plugins/formvalidation/formValidation.min.css}" />
    <link rel="stylesheet" th:href="@{/plugins/intelutil/css/intlTelInput.css}" />
    <!--End: GLOBAL PLUGINS-->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
</head>

<!--<body data-theme="dark">-->
<body>
<div class="main-wrapper">
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div class="error-box">
        <div layout:fragment="content"></div>
    </div>
</div>

<script th:src="@{/theme/js/jquery.min.js}"></script>
<script th:src="@{/theme/js/popper.min.js}"></script>
<script th:src="@{/theme/js/boostrap.min.js}"></script>

<script>
    $('[data-toggle="tooltip"]').tooltip();
    $(".preloader").fadeOut();
</script>

</body>
</html>