<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/daterangepicker/daterangepicker.css}" rel="stylesheet" />
</head>
<body>

<div layout:fragment="content">
    <th:block layout:fragment="report-content"></th:block>
</div>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/moment.min.js}"></script>
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/js/reports/default.js}"></script>

    <th:block layout:fragment="report-scripts"></th:block>
</th:block>

</body>
</html>