<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title> Faida Yetu &middot; Maker-Checker </title>
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Maker-Checker</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Maker-Checker</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-b-0">Maker-Checker</h4>
                    </div>
                    <div class="card-body maker-checker">

                        <th:block sec:authorize="hasRole('MakerChecker Configurations')" >
                            <div class="table-responsive">
                                <table id="zero_config" class="table table-sm table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Module</th>
                                        <th>Enabled</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Module</th>
                                        <th>Enabled</th>
                                        <th>Actions</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </th:block>

                        <th:block sec:authorize="!hasRole('MakerChecker Configurations')" >
                            <th:block th:replace="fragments/access-denied::block"> </th:block>
                        </th:block>

                    </div>
                </div>
            </div>
        </div>


    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header">
                        <h5 class="modal-title" >MakerChecker Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label class="control-label">Module</label>
                            <input type="text" name="module" class="form-control" readonly required="required"/>
                        </div>

                        <div class="form-group">
                            <label class="mt-checkbox mt-checkbox-outline"> Enable
                                <input type="checkbox" value="1" name="status" />
                                <span></span>
                            </label>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="enabled" />
                        <input type="hidden" name="id" value="" />
                        <input type="hidden" name="action" value="edit" />
                        <button type="submit" class="btn btn-success btn-sm" th:text="#{core.save}"></button>
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" th:text="#{core.close}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/configs/maker-checker.js}" ></script>
</th:block>

</body>
</html>