<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title> Faida Yetu &middot; System Settings </title>
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">System Settings</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">System Settings</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="m-b-0">System Settings</h4>
                    </div>
                    <div class="card-body settings-configs">
                        <div class="table-responsive">


                            <table id="zero_config" class="table  table-sm table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                    <th>Description</th>
                                    <th class="text-center text-muted" style="width: 40px;"> Actions </th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Property</th>
                                    <th>Value</th>
                                    <th>Description</th>
                                    <th class="text-center text-muted" style="width: 40px;"> Actions </th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/configs/settings.js}" ></script>
</th:block>

</body>
</html>