<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/auth-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title>Faida Yetu &middot; Login</title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="logo">
        <span class="db">
           <img th:src="@{/img/Faida.png}" alt="logo" style="height: 150px;" />
        </span>
        <h4 class="font-large m-b-20">Sign In</h4>
    </div>

    <!-- Form -->
    <div class="row">
        <div class="col-12">

            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <span th:text="${error}"></span>
            </div>

            <div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <span th:text="${msg}"></span>
            </div>

            <form class="form-horizontal m-t-20 login-form" th:action="@{/login}" method="post" autocomplete="off">

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                        </div>
                        <input type="text" name="email" class="form-control form-control-lg" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember me</label>
                            <a th:href="@{/password-reset}" id="to-recover" class="text-dark float-right"><i class="fa fa-lock m-r-5"></i> Forgot password?</a>
                        </div>
                    </div>
                </div>

                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <button class="btn btn-block btn-lg bg-primary white" type="submit">Log In</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/user-manager/login.js}"></script>
</th:block>

</body>
</html>