<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; Mobile App Users </title>

    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">


</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Mobile App Users</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Mobile App Users</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- basic table -->
        <div class="row parent-panel">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left m-b-0">Mobile App Users</h4>
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" data-action="refresh">Refresh </button>


                            <div class="btn-group status ">
                                <button type="button" class="btn btn-danger dropdown-toggle title-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    -- Status --
                                </button>
                                <div class="dropdown-menu filter">
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="">-- Status --</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Active">Active</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Suspended">Suspended</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="table-responsive">
                            <table class="table table-sm table-striped table-bordered table-mobile-users" style="width: 100%">
                                <thead>
                                    <tr>
                                        <th>Member No</th>
                                        <th>Names</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Date Joined</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <!--<script th:src="@{/js/user-manager/mobile-users.js}"></script>-->
    <script th:src="@{/js/user-manager/signups.js}"></script>
</th:block>

</body>
</html>

