<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; Profile </title>

</head>
<body>


<block layout:fragment="content" >


    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">Profile</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@{/}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Profile
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="content-body">

        <section >
            <div class="row">
                <div class="col-12">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="card">
                                <div class="text-center image-panel">
                                    <div class="card-body uploaded">
                                        <img th:src="@{/img/avatar00.png}" height="100" alt="">
                                    </div>
                                    <div class="card-body">


                                        <div class="form-group row">
                                            <label class="col-3 label-control" >Full Names</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control"
                                                       th:value="${userDetails.fullName}" placeholder="First Name" name="firstName">
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-3 label-control" >E-mail</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control"
                                                       th:value="${userDetails.email}"
                                                       placeholder="E-mail" name="email">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-3 label-control" >Mobile Number</label>
                                            <div class="col-9">
                                                <input type="text" class="form-control"
                                                       th:value="${userDetails.phone}"
                                                       placeholder="Mobile Number" name="phone">
                                            </div>
                                        </div>

                                        <!--<h6 class="card-title" th:text="${userDetails.username}"></h6>-->
                                        <!--<h6 class="card-subtitle text-muted" th:text="${userDetails.userType}"></h6>-->
                                    </div>
                                    <div class="card-body">
                                        <textarea class="d-none" name="avatar"></textarea>
                                        <input class="file-input d-none" name="file" type="file" />
                                        <button type="button" class="btn btn-primary mr-1 change-photo"><i class="ft-user"></i> Change Photo </button>
                                    </div>
                                </div>
                                <div class="list-group list-group-flush">
                                    <a href="#" class="list-group-item"><i class="ft-activity"></i> My Activity </a>
                                    <a href="#" class="list-group-item profile"><i class="ft-user"></i> Edit Profile </a>
                                    <a href="#" class="list-group-item password"><i class="ft-lock"></i> Change Password</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div class="card">

                                <div class="card-content collpase show">
                                    <div class="card-body">

                                        <div class="my-activity d-none">

                                            <h4 class=""> My Activity </h4>

                                            <table class="table table-condensed compact ">
                                                <thead>
                                                <tr>
                                                    <th>Date/Time</th>
                                                    <th>Activity</th>
                                                    <th>Status</th>
                                                    <th>Old Values</th>
                                                    <th>New Values</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td colspan="3"></td>
                                                </tr>
                                                </tbody>
                                            </table>

                                        </div>


                                        <form class="form form-horizontal profile-view" method="post" >
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="ft-user"></i> Personal Info</h4>

                                                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    </button>
                                                    <span th:text="${error}"></span>
                                                </div>

                                                <div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    </button>
                                                    <span th:text="${msg}"></span>
                                                </div>


                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" >Full Name</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               th:value="${userDetails.fullName}" placeholder="Full Name" name="fullName">
                                                    </div>
                                                </div>

                                                <!--<div class="form-group row">-->
                                                    <!--<label class="col-md-3 label-control" >Middle Name</label>-->
                                                    <!--<div class="col-md-9">-->
                                                        <!--<input type="text" class="form-control"-->
                                                               <!--th:value="${userDetails.middleName}" placeholder="Middle Name" name="firstName">-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="form-group row">-->
                                                    <!--<label class="col-md-3 label-control" >Last Name</label>-->
                                                    <!--<div class="col-md-9">-->
                                                        <!--<input type="text" class="form-control"-->
                                                               <!--th:value="${userDetails.surname}"-->
                                                               <!--placeholder="Last Name" name="surname">-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" >E-mail</label>
                                                    <div class="col-md-9">
                                                        <input type="text" class="form-control"
                                                               th:value="${userDetails.email}"
                                                               placeholder="E-mail" name="email">
                                                    </div>
                                                </div>

                                                <!--<div class="form-group row">-->
                                                    <!--<label class="col-md-3 label-control" >Mobile Number</label>-->
                                                    <!--<div class="col-md-9">-->
                                                        <!--<input type="text" class="form-control"-->
                                                               <!--th:value="${userDetails.phone}"-->
                                                               <!--placeholder="Mobile Number" name="phone">-->
                                                    <!--</div>-->
                                                <!--</div>-->

                                            </div>

                                            <div class="form-actions right">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save </button>
                                                <button type="reset" class="btn btn-danger mr-1"> <i class="ft-x"></i> Reset </button>
                                            </div>

                                            <input type="hidden" name="action" value="profile" />
                                        </form>

                                        <form class="form form-horizontal d-none password-view" method="post">
                                            <div class="form-body">
                                                <h4 class="form-section"><i class="ft-lock"></i> Change Password </h4>

                                                <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    </button>
                                                    <span th:text="${error}"></span>
                                                </div>

                                                <div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    </button>
                                                    <span th:text="${msg}"></span>
                                                </div>


                                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" >Current Password</label>
                                                    <div class="col-md-9">
                                                        <input type="password" class="form-control" placeholder="Current Password" name="currentPassword">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" >New Password</label>
                                                    <div class="col-md-9">
                                                        <input type="password" class="form-control" placeholder="New Password" name="newPassword">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-md-3 label-control" >Confirm Password</label>
                                                    <div class="col-md-9">
                                                        <input type="password" class="form-control" placeholder="Confirm Password" name="confirmPassword">
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="form-actions right">
                                                <button type="submit" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Save </button>
                                                <button type="reset" class="btn btn-info mr-1"> <i class="ft-x"></i> Reset </button>
                                            </div>
                                            <input type="hidden" name="action" value="password" />
                                        </form>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</block>

<block layout:fragment="script">
    <script th:src="@{/plugins/load-image.all.min.js}"></script>
    <script th:src="@{/js/app-utils.js}" ></script>
    <script th:src="@{/js/user-manager/profile.js}" ></script>
</block>

</body>
</html>