<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/auth-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title>Faida Yetu &middot; Set Password </title>
</head>
<body>

<th:block layout:fragment="content">

    <div class="logo">
        <span class="db">
           <img th:src="@{/img/Faida-login.png}" alt="logo" />
        </span>
        <h5 class="font-medium m-b-20">Set Password</h5>
    </div>

    <!-- Form -->
    <div class="row">
        <div class="col-12">

            <div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <span th:text="${error}"></span>
            </div>

            <div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                </button>
                <span th:text="${msg}"></span>
            </div>

            <form class="form-horizontal m-t-20" method="post" autocomplete="off">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control form-control-lg" placeholder="New Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3"><i class="ti-pencil"></i></span>
                        </div>
                        <input type="password" name="confPassword" class="form-control form-control-lg" placeholder="Confirm Password" aria-label="Password" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="form-group text-center">
                    <div class="col-xs-12 p-b-20">
                        <button class="btn btn-block btn-lg btn-info" type="submit">Submit</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/user-manager/reset.js}"></script>
</th:block>

</body>
</html>