<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu  &middot; System Groups </title>

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">
    <!-- END PAGE LEVEL PLUGINS -->

</head>
<body>


<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">System Groups</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">System Groups</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <div th:replace="fragments/ajax-util::ajax"></div>

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-inverse">
                        <ul class="nav nav-pills mt-0 float-left">
                            <li class="nav-item active-usergroups-view">
                                <a class="nav-link active " data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                    Active
                                </a>
                            </li>

                            <li class="nav-item new-usergroups-view">
                                <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                    New
                                </a>
                            </li>

                            <li class="nav-item edited-usergroups-view">
                                <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                    Edited
                                </a>
                            </li>

                            <li class="nav-item deactivated-usergroups-view">
                                <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                    Deactivation Requests
                                </a>
                            </li>

                            <li class="nav-item inactive-usergroups-view">
                                <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                    Inactive
                                </a>
                            </li>

                        </ul>

                        <div class="float-right">
                            <button class="btn btn-primary " data-action="refresh" type="button">Refresh </button>
                            <button type="button" class="btn btn-default create-usergroups-view" data-toggle="modal" data-target=".edit-view"> New </button>
                        </div>
                    </div>

                    <div class="card-body">


                        <div class="tab-content tabcontent-border">

                            <div class="tab-pane active" id="active" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Active UserGroups')">
                                <table class="table table-sm table-bordered compact table-active-records" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Active UserGroups')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="new" role="tabpanel">
                                <th:block sec:authorize="hasRole('View New UserGroups')">
                                <table class="table table-sm table-bordered compact table-new" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View New UserGroups')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="edited" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Edited UserGroups')">
                                <table class="table table-sm table-bordered compact table-edited" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Edited UserGroups')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="deactivated" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Deactivated UserGroups')">
                                <table class="table table-sm table-bordered compact table-deactivated" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Deactivated UserGroups')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="inactive" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Inactive UserGroups')">
                                <table class="table table-sm table-bordered compact table-inactive" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Description</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Inactive UserGroups')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>


    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >User  Group Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group ">
                            <label>Name </label>
                            <input type="text" name="name" class="form-control m-input" placeholder="Name" required="required" />
                        </div>

                        <div class="form-group">
                            <label class="control-label system-role"> System Role</label>
                            <select name="baseType" class="form-control" required>
                                <option value="">Select Role</option>
                                <option data-type="system-admin" value="system-admin">System Admin</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Description </label>
                            <input type="text" name="description" class="form-control m-input" placeholder="Description" required="required" />
                        </div>

                        <!--multiselect-->
                        <div class="form-group">
                            <label class="control-label"> Permissions </label>
                            <div>
                                <label style="padding-left: 10%;">
                                    Not Assigned
                                </label>
                                <label style="padding-left: 60%;">
                                    Assigned
                                </label>
                            </div>
                            <div class="row">
                                <div class="col-5">
                                    <select name="from[]" id="permissionsEl" class="form-control" size="10" multiple="multiple">

                                        <th:block th:each="item : ${permissions}" >
                                            <optgroup class="text-bold" th:label ="${item.role}" th:attr="data-basetype=${item.function}">
                                                <option th:each="node : ${item.permissions}"
                                                        th:value="${node.id}"
                                                        th:text="${node.name}" th:attr="data-basetype=${item.function}"></option>
                                            </optgroup>
                                        </th:block>

                                    </select>
                                </div>

                                <div class="col-2">
                                    <button type="button" id="permissionsEl_rightAll" class="btn btn-block "><i class="ti-angle-double-right"></i></button>
                                    <button type="button" id="permissionsEl_rightSelected" class="btn btn-block "><i class="ti-angle-right"></i></button>
                                    <button type="button" id="permissionsEl_leftSelected" class="btn btn-block "><i class="ti-angle-left"></i></button>
                                    <button type="button" id="permissionsEl_leftAll" class="btn btn-block "><i class="ti-angle-double-left"></i></button>
                                </div>

                                <div class="col-5">
                                    <select name="permission" id="permissionsEl_to" class="form-control permissions" size="10" multiple="multiple"></select>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>


<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/plugins/multiselect.js}" ></script>
    <script th:src="@{/js/user-manager/system-groups.js}"></script>
</th:block>

</body>
</html>