<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; System Users </title>
    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">System Users</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">System Users</li>
                        </ol>
                    </nav>
                </div>
            </div>

            
        </div>
    </div>


    <div class="container-fluid">

        <div th:replace="fragments/ajax-util::ajax"></div>

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-inverse">
                        <ul class="nav nav-pills mt-0 float-left">
                            <li class="nav-item active-user-view">
                                <a class="nav-link active " data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                    Active
                                </a>
                            </li>

                            <li class="nav-item new-user-view">
                                <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                    New
                                </a>
                            </li>

                            <li class="nav-item edited-user-view">
                                <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                    Edited
                                </a>
                            </li>

                            <li class="nav-item deactivated-user-view">
                                <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                    Deactivation Requests
                                </a>
                            </li>

                            <li class="nav-item inactive-user-view">
                                <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                    Inactive
                                </a>
                            </li>

                        </ul>

                        <div class="float-right">
                            <button class="btn btn-primary white " data-action="refresh" type="button">Refresh </button>
                            <button type="button" class="btn btn-default create-user-view" data-toggle="modal" data-target=".edit-view"> New </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="active" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Active Users')">
                                <table class="table table-sm table-bordered compact table-active-records" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Passport</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </th:block>
                            <th:block sec:authorize="!hasRole('View Active Users')">
                                <th:block th:replace="fragments/access-denied::block"></th:block>
                            </th:block>
                            </div>

                            <div class="tab-pane" id="new" role="tabpanel">
                                <th:block sec:authorize="hasRole('View New Users')">
                                <table class="table table-sm table-bordered compact table-new" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Passport</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View New Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="edited" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Edited Users')">
                                <table class="table table-sm table-bordered compact table-edited" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Passport</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </th:block>
                            <th:block sec:authorize="!hasRole('View Edited Users')">
                                <th:block th:replace="fragments/access-denied::block"></th:block>
                            </th:block>
                            </div>

                            <div class="tab-pane" id="deactivated" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Deactivated Users')">
                                <table class="table table-sm table-bordered compact table-deactivated" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Passport</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Deactivated Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="inactive" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Inactive Users')">
                                <table class="table table-sm table-bordered compact table-inactive" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Names</th>
                                        <th>Passport</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </th:block>
                            <th:block sec:authorize="!hasRole('View Inactive Users')">
                                <th:block th:replace="fragments/access-denied::block"></th:block>
                            </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title" >Institution Admin Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div class="form-group">
                            <label>User Name </label>
                            <input type="text" name="fullName" class="form-control m-input" placeholder="Full Name" required="required" />
                        </div>

                        <div class="form-group">
                            <label>Passport </label>
                            <input type="text" name="passport" class="form-control m-input" placeholder="Passport" required="required" />
                        </div>

                        <div class="form-group">
                            <label>Phone Number </label>
                            <input type="text" name="phone" class="form-control m-input" placeholder="Phone Number" required="required" />
                        </div>

                        <div class="form-group">
                            <label>Email </label>
                            <input type="email" name="email" class="form-control m-input" placeholder="Email" required="required" />
                        </div>

                        <div class="form-group m-form__group user-type">
                            <label >User Type </label>
                            <select class="form-control m-input" name="userTypeNo">
                                <option value="">   Select Type  </option>
                                <option th:each="item : ${userTypes}"
                                        th:value="${item.id}"
                                        th:attr="data-type=${item.code}"
                                        th:text="${item.name}"></option>
                            </select>
                           </div>

                        <div class="form-group m-form__group">
                            <label>User Group</label>
                            <select class="form-control m-input groups" name="userGroupNo" >
                                <option value="">   Select User Group </option>
                                <option th:each="item : ${userGroups}"
                                        th:value="${item.id}"
                                        th:text="${item.name}"></option>
                            </select>
                        </div>

                       </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/makerchecker::modals"></div>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/app-utils.js}" ></script>
    <script th:src="@{/js/user-manager/system-users.js}"></script>
</th:block>

</body>
</html>