<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; USSD Users </title>

    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">


</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">USSD Users</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">USSD Users</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left m-b-0">USSD Users</h4>
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" data-action="refresh">Refresh </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="zero_config" class="table table-sm table-striped table-bordered" style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Names</th>
                                    <th>Member ID</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Date Joined</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Names</th>
                                    <th>Member ID</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Date Joined</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/user-manager/mobile-users.js}"></script>
</th:block>

</body>
</html>