<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/report-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title> Faida Yetu &middot; Transactions </title>
    <!--<link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">-->
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Transactions</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Transactions</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <!-- basic table -->
        <div class="row parent-panel">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="float-left m-b-0">Transactions</h4>
                        <!--Audit Logs-->
                        <div class="float-right">
                            <button type="button" class="btn btn-success" data-action="refresh">Refresh </button>

                            <div class="btn-group status ">
                                <button type="button" class="btn btn-danger dropdown-toggle title-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    -- Status --
                                </button>
                                <div class="dropdown-menu filter">
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="">-- Status --</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" data-filter="status" data-index="Approved" href="javascript:void(0)">Approved</a>
                                    <a class="dropdown-item" data-filter="status" data-index="Declined" href="javascript:void(0)">Declined</a>
                                    <a class="dropdown-item" data-filter="status" data-index="New" href="javascript:void(0)">New</a>
                                    <a class="dropdown-item" data-filter="status" data-index="Paid" href="javascript:void(0)">Paid</a>
                                    <a class="dropdown-item" data-filter="status" data-index="Overdue" href="javascript:void(0)">Overdue</a>
                                </div>
                            </div>

                            <!--<div class="btn-group channel ">-->
                                <!--<button type="button" class="btn btn-danger dropdown-toggle title-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                                    <!--&#45;&#45; Channel &#45;&#45;-->
                                <!--</button>-->
                                <!--<div class="dropdown-menu filter">-->
                                    <!--<a class="dropdown-item" href="javascript:void(0)" data-filter="channel" data-index="">&#45;&#45; Channel &#45;&#45;</a>-->
                                    <!--<div class="dropdown-divider"></div>-->
                                    <!--<a class="dropdown-item" href="javascript:void(0)" data-filter="channel" data-index="mobile">Mobile Banking</a>-->
                                    <!--<a class="dropdown-item" href="javascript:void(0)" data-filter="channel" data-index="ussd">USSD</a>-->
                                <!--</div>-->
                            <!--</div>-->

                            <button class="btn btn-flat btn-default date-range" title="Specify Range ">
                                <i class="glyphicon glyphicon-calendar"></i>
                                <span>Specify Range </span>
                            </button>

                            <div class="btn-group ">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti-cloud-down"></i>
                                </button>
                                <div class="dropdown-menu download-report">
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="csv" target="_blank">CSV</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="excel" target="_blank">Excel</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-action="pdf" target="_blank">PDF</a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body view-transactions">
                        <div class="table-responsive">
                           <th:block sec:authorize="hasRole('Transactions')">
                            <table class="table table-striped table-bordered table-sm parent-table">
                                <thead>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Disbursement Account</th>
                                    <th>Corporate</th>
                                    <th>Status</th>
                                    <th>Id</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2">Total</td>
                                    <td class="total"></td>
                                </tr>
                                </tfoot>
                            </table>
                            </th:block>
                            <th:block sec:authorize="!hasRole('Transactions')">
                                <th:block th:replace="fragments/access-denied::block"></th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="report-scripts">
    <script th:src="@{/js/transaction/transactions.js}" ></script>
</th:block>

</body>
</html>