/* Color of invalid field */
.has-error label,
.has-error .help-block,
.has-error .form-control-feedback {
    color: #ec407a;
}

.has-error .form-control{
    border-color : #ec407a;
}

.has-success .form-control{
    border-color : #16D39A;
}

.intl-tel-input{
    width: 100%;
}

/*Sweet alerts*/
.sweet-alert {
    background-color:   #F1F1F1 !important;
}

.sweet-alert p {
    color: inherit!important;
}

.sa-confirm-button-container > .confirm{
    background-color: #F28C50 !important;
    font-size: .875rem;
    box-shadow: none !important;
}

.sa-button-container > .cancel {
    background-color: #6658dd !important;
    font-size: .875rem;
    box-shadow: none !important;
}

.sweet-alert .sa-icon.sa-info {
    color: #ffbc34;
    border-color: #ffbc34!important;
}

.sweet-alert .sa-icon.sa-info::before, .sa-icon.sa-info::after {
    background-color: #ffbc34!important;
}

.sweet-alert .sa-icon.sa-success {
    /*background-color: #1abc9c;*/
}

.sweet-alert .sa-icon.sa-success::before, .sa-icon.sa-success::after {
    background-color:   #F1F1F1 !important;
}

.sweet-alert .sa-icon.sa-success > .sa-fix {
    background-color:  #F1F1F1 !important;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    /*background-color: #1abc9c;*/
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    /*background-color: #1abc9c;*/
}

/*Notifications Styles*/
.mailbox .message-center {
    height: 82px!important;
}