<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <title> Faida Yetu &middot; Faida Yetu </title>

    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">


</head>
<body>

<th:block layout:fragment="content">

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Faida Yetu</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Faida Yetu</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div th:replace="fragments/ajax-util::ajax"></div>

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-inverse">
                        <ul class="nav nav-pills mt-0 float-left">
                            <li class="nav-item active-Faida Yetu-view">
                                <a class="nav-link active" data-toggle="tab" href="#active" role="tab"
                                   aria-selected="true">
                                    Active
                                </a>
                            </li>

                            <li class="nav-item new-Faida Yetu-view">
                                <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                    New
                                </a>
                            </li>

                            <li class="nav-item edited-Faida Yetu-view">
                                <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                    Edited
                                </a>
                            </li>

                            <li class="nav-item deactivated-Faida Yetu-view">
                                <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab"
                                   aria-selected="false">
                                    Deactivation Requests
                                </a>
                            </li>

                            <li class="nav-item inactive-Faida Yetu-view">
                                <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                    Inactive
                                </a>
                            </li>

                        </ul>

                        <div class="float-right">
                            <button class="btn btn-primary" data-action="refresh" type="button">Refresh</button>
                            <button type="button" class="btn btn-default create-Faida Yetu-view" data-toggle="modal"
                                    data-target=".edit-view"> New
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content tabcontent-border">

                            <div class="tab-pane active" id="active" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-active-records"
                                       cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Type</th>
                                        <th>Phone</th>
                                        <th>Finance Service Provider</th>
                                        <th>Contact Person</th>
                                        <th>County</th>
                                        <th>Sub County</th>
                                        <th>Sub Location</th>
                                        <th>Facilitator</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="new" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-new" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Type</th>
                                        <th>Phone</th>
                                        <th>Finance Service Provider</th>
                                        <th>Contact Person</th>
                                        <th>County</th>
                                        <th>Sub County</th>
                                        <th>Sub Location</th>
                                        <th>Facilitator</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="edited" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-edited" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Type</th>
                                        <th>Phone</th>
                                        <th>Finance Service Provider</th>
                                        <th>Contact Person</th>
                                        <th>County</th>
                                        <th>Sub County</th>
                                        <th>Sub Location</th>
                                        <th>Facilitator</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="deactivated" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-deactivated" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Type</th>
                                        <th>Phone</th>
                                        <th>Finance Service Provider</th>
                                        <th>Contact Person</th>
                                        <th>County</th>
                                        <th>Sub County</th>
                                        <th>Sub Location</th>
                                        <th>Facilitator</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="inactive" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-inactive" cellspacing="0"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th>Group Name</th>
                                        <th>Group Type</th>
                                        <th>Phone</th>
                                        <th>Finance Service Provider</th>
                                        <th>Contact Person</th>
                                        <th>County</th>
                                        <th>Sub County</th>
                                        <th>Sub Location</th>
                                        <th>Facilitator</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary white">
                        <h5 class="modal-title">Faida Yetu Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group m-form__group">
                            <label> Group Name </label>
                            <input type="text" name="groupName" class="form-control m-input" placeholder="Group Name"
                                   required="required" maxlength="500"/>
                        </div>

                        <div class="form-group m-form__group">
                            <label> Group Phone No </label>
                            <input type="text" name="phone" class="form-control m-input" placeholder="Group Phone No"
                                   required="required" maxlength="50"/>
                        </div>
                        <div class="form-group m-form__group">
                            <label> Finance Service Provider </label>
                            <input type="text" name="financialServiceProvider" class="form-control m-input"
                                   placeholder="Name" required="required" maxlength="50"/>
                        </div>
                        <div class="form-group m-form__group">
                            <label> FSP Contact </label>
                            <input type="text" name="contacts" class="form-control m-input" placeholder="FSP Contacts"
                                   required="required" maxlength="50"/>
                        </div>

                        <div class="form-group">
                            <label> Select County </label>
                            <select name="county" class="form-control" required="required">
                                <option value='Baringo'>Baringo</option>
                                <option value='Bomet'>Bomet</option>
                                <option value='Bungoma'>Bungoma</option>
                                <option value='Busia'>Busia</option>
                                <option value='Elgeyo-Marakwet'>Elgeyo-Marakwet</option>
                                <option value='Embu'>Embu</option>
                                <option value='Garissa'>Garissa</option>
                                <option value='Homa Bay'>Homa Bay</option>
                                <option value='Isiolo'>Isiolo</option>
                                <option value='Kajiado'>Kajiado</option>
                                <option value='Kakamega'>Kakamega</option>
                                <option value='Kericho'>Kericho</option>
                                <option value='Kiambu'>Kiambu</option>
                                <option value='Kilifi'>Kilifi</option>
                                <option value='Kirinyaga'>Kirinyaga</option>
                                <option value='Kisii'>Kisii</option>
                                <option value='Kisumu'>Kisumu</option>
                                <option value='Kitui'>Kitui</option>
                                <option value='Kwale'>Kwale</option>
                                <option value='Laikipia'>Laikipia</option>
                                <option value='Lamu'>Lamu</option>
                                <option value='Machakos'>Machakos</option>
                                <option value='Makueni'>Makueni</option>
                                <option value='Mandera'>Mandera</option>
                                <option value='Marsabit'>Marsabit</option>
                                <option value='Meru'>Meru</option>
                                <option value='Migori'>Migori</option>
                                <option value='Mombasa'>Mombasa</option>
                                <option value="Murang'a">Murang'a</option>
                                <option value='Nairobi City'>Nairobi City</option>
                                <option value='Nakuru'>Nakuru</option>
                                <option value='Nandi'>Nandi</option>
                                <option value='Narok'>Narok</option>
                                <option value='Nyamira'>Nyamira</option>
                                <option value='Nyandarua'>Nyandarua</option>
                                <option value='Nyeri'>Nyeri</option>
                                <option value='Samburu'>Samburu</option>
                                <option value='Siaya'>Siaya</option>
                                <option value='Taita-Taveta'>Taita-Taveta</option>
                                <option value='Tana River'>Tana River</option>
                                <option value='Tharaka-Nithi'>Tharaka-Nithi</option>
                                <option value='Trans Nzoia'>Trans Nzoia</option>
                                <option value='Turkana'>Turkana</option>
                                <option value='Uasin Gishu'>Uasin Gishu</option>
                                <option value='Vihiga'>Vihiga</option>
                                <option value='West Pokot'>West Pokot</option>
                                <option value='wajir'>wajir</option>
                            </select>
                        </div>
                        <div class="form-group m-form__group">
                            <label> Sub-County </label>
                            <input type="text" name="subCounty" class="form-control m-input" placeholder="Sub County"
                                   required="required" maxlength="100"/>
                        </div>
                        <div class="form-group m-form__group">
                            <label> Sub Location </label>
                            <input type="text" name="subLocation" class="form-control m-input"
                                   placeholder="Sub Location" required="required" maxlength="100"/>
                        </div>
                        <div class="form-group m-form__group">
                            <label> Facilitator </label>
                            <input type="text" name="facilitator" class="form-control m-input" placeholder="Facilitator"
                                   required="required" maxlength="100"/>
                        </div>

                        <div class="form-group">
                            <label> Group Type </label>
                            <select name="groupType" class="form-control" required>
                                <option value=""> Select Group Type</option>
                                <option th:each="item : ${groupType}"
                                        th:value="${item.id}"
                                        th:text="${item.groupName}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new"/>
                        <input type="hidden" name="id" value=""/>
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/chama/chama.js}"></script>
</th:block>

</body>
</html>