<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<th:block th:fragment="header">

    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md">
            <div class="navbar-header">

                <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                    <i class="ti-menu ti-close"></i>
                </a>

                <a class="navbar-brand" th:href="@{/}">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <!--<img th:src="@{/img/login-logo.png}" class="dark-logo" />-->
                        <!--&lt;!&ndash; Light Logo icon &ndash;&gt;-->
                        <!--<img th:src="@{/img/login-logo.png}" class="light-logo" />-->
                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">
                             <!-- dark Logo text -->
                             <img th:src="@{/img/Faida.png}" class="dark-logo" style="height: 120px;"/>
                        <!-- Light Logo text -->
                             <img th:src="@{/img/Faida.png}" class="light-logo"  style="height: 120px;"/>
                        </span>
                </a>
                <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
            </div>

            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav float-left mr-auto">
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                            <i class="mdi mdi-menu font-24"></i>
                        </a>
                    </li>
                </ul>

                <ul class="navbar-nav float-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="flag-icon flag-icon-us"></i>
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-bell font-24"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                            <span class="with-arrow"><span class="bg-primary"></span></span>
                            <ul class="list-style-none">
                                <!--<li>-->
                                    <!--<div class="drop-title bg-primary text-white">-->
                                        <!--<h4 class="m-b-0 m-t-5">4 New</h4>-->
                                        <!--<span class="font-light">Notifications</span>-->
                                    <!--</div>-->
                                <!--</li>-->
                                <li>
                                    <div class="message-center notifications">

                                        <!--If the expiry period has been defined -->
                                        <th:block th:if="${session._userExpiry != null}">

                                            <!--Set the duration before expiry-->
                                            <th:block
                                                    th:with="expireIn=${@dateUtils.daysUntilToday(session._userExpiry)},
                                                badgeClass=${@dateUtils.cssClass(session._userExpiry)}">

                                                <a href="javascript:void(0)" class="message-item">
                                                    <span class="btn btn-danger btn-circle"><i class="fa fa-link"></i></span>
                                                    <div class="mail-contnet">
                                                        <h5 class="message-title">Password Expiry</h5>
                                                        <span class="mail-desc">Your password will expire on</span> <span class="time" th:text="${#dates.format(session._userExpiry, 'dd-MMM-yyyy HH:mm:ss a')}">9:02 AM</span>
                                                    </div>
                                                </a>

                                            </th:block>
                                        </th:block>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <!--<li class="nav-item dropdown">-->
                        <!--<a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                            <!--<img th:src="@{ ${session._photoUrl} }" alt="user" class="rounded-circle" width="31">-->
                        <!--</a>-->
                        <!--<div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">-->
                            <!--<span class="with-arrow"><span class="bg-primary"></span></span>-->

                            <!--<a class="dropdown-item" href="javascript:void(0)"><i class="ti-user m-r-5 m-l-5"></i> My Profile</a>-->
                            <!--<div class="dropdown-divider"></div>-->
                            <!--<a class="dropdown-item"-->
                               <!--onclick="event.preventDefault(); document.getElementById('logout-form').submit();"-->
                               <!--href="javascript:void(0)">-->
                                <!--<i class="fa fa-power-off m-r-5 m-l-5"></i>-->
                                <!--Logout-->
                            <!--</a>-->

                            <!--<form id="logout-form" th:action="@{/logout}" method="POST" style="display: none;">-->
                                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</li>-->


                    <li class="dropdown dropdown-user nav-item">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online">
                                    <img th:src="@{/img/avatar00.png}" alt="" width="31"><i></i></span>
                            <span class="user-name" th:text="${session._username}"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a th:href="@{/profile}" class="dropdown-item">
                                <i class="ft-user"></i> Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"
                               onclick="event.preventDefault(); document.getElementById('logout-form').submit();"></a>

                            <form id="logout-form" th:action="@{/logout}" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                                <button type="submit" class="btn btn-link dropdown-item"><i class="ft-power" aria-hidden="true"></i> Logout </button>
                            </form>

                        </div>
                    </li>



                </ul>
            </div>
        </nav>
    </header>

</th:block>

</body>
</html>