<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>

<div th:fragment="modals">
    <!--Modal Deactivate record-->
    <div class="modal fade in deactivate-view modal-danger" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <form class="modal-content ">
                <div class="modal-header bg-danger white">
                    <h5 class="modal-title" >Deactivate Record</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="alert dark alert-icon alert-danger alert-dismissible" role="alert">
                        <i class="icon wb-bell" aria-hidden="true"></i>
                        <span>Proceeding with this action will deactivate</span>&nbsp;
                        <span class="identity font-weight-bold"></span>
                    </div>

                    <div class="form-group m-form__group">
                        <label>Reason</label>
                        <select name="reasonCodeNo" class="selectpicker form-control"
                                data-fv-notempty="true" data-fv-message="Reason code is required">
                            <option value=""> Select Reason </option>
                            <option th:each="item : ${reasoncodes}"
                                    th:value="${item.id}"
                                    th:text="${item.name}"></option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <textarea name="reasonDescription" rows="3" class="form-control" required="required"
                                  data-fv-notempty="true" data-fv-message="Description is required"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Deactivate</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <input type="hidden" name="action" value="deactivate" />
                <input type="hidden" name="index" />
            </form>
        </div>
    </div>
    <!--Modal-->

    <!--View Deactivation Reason Modal-->
    <div class="modal fade text-left view-reasons" tabindex="-1" role="dialog" aria-labelledby="ViewReasonsModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info white">
                    <h4 class="modal-title">Deactivation Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <ul class="list-group">
                        <li class="list-group-item">
								<span class="float-left">
									<i class="ft-user mr-1"></i>
								</span>
                            The record was deactivated by <span class=" user font-weight-bold"></span>
                        </li>
                        <li class="list-group-item">
								<span class="float-left">
									<i class="ft-alert-circle mr-1"></i>
								</span>
                            <span class="font-weight-bold">Deactivation Reason : </span>
                            <span class="reason font-weight-bold"></span>
                        </li>
                        <li class="list-group-item">
								<span class="float-left">
									<i class="ft-voicemail mr-1"></i>
								</span>
                            <span class="font-weight-bold">Reason Description : </span>
                            <span class="description font-weight-bold"></span>
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <form>
                        <input type="hidden" name="index" />
                        <input type="hidden" name="action" />
                        <button type="submit" class="btn btn-success" data-action="approve-deactivation">Approve</button>
                        <button type="submit" class="btn btn-danger " data-action="decline-deactivation">Decline</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div><!-- /.modal-content -->
        </div> <!--/.modal-dialog -->
    </div>

    <!--View Edit Changes Modal-->
    <div class="modal fade in modal-info" aria-hidden="false" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"> Record Changes</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <form>
                        <input type="hidden" name="index" />
                        <input type="hidden" name="action" />
                        <button type="submit" class="btn btn-success" data-action="approve-edit">Approve</button>
                        <button type="submit" class="btn btn-danger" data-action="decline-edit">Decline</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </form>
                </div>
            </div> <!--/.modal-content -->
        </div> <!--/.modal-dialog -->
    </div>

    <!-- Modal -->
    <div class="modal fade text-left view-changes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel11" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info white">
                    <h4 class="modal-title"> Record Changes</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <form>
                        <input type="hidden" name="index" />
                        <input type="hidden" name="action" />
                        <button type="submit" class="btn btn-success" data-action="approve-edit" >Approve</button>
                        <button type="submit" class="btn btn-danger" data-action="decline-edit">Decline</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal" >Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>