<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Menu</title>
</head>
<body>

<th:block th:fragment="menu">
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin5">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/}"
                           aria-expanded="false">
                            <i class="ti-menu"></i><span class="hide-menu">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                           aria-expanded="false">
                            <i class="ti-user"></i>
                            <span class="hide-menu"> User Management </span>
                           </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <!--<th:block th:if="${session._userType == 'system-admin' }">-->
                                <li class="sidebar-item"><a th:href="@{/system-users}" class="sidebar-link"><i
                                        class="mdi mdi-adjust"></i><span class="hide-menu"> System Users </span></a>
                                </li>
                                <li class="sidebar-item"><a th:href="@{/system-groups}" class="sidebar-link"><i
                                        class="mdi mdi-adjust"></i><span class="hide-menu"> System Groups </span></a>
                                </li>
                                <li class="sidebar-item"><a th:href="@{/mobile-users}" class="sidebar-link"><i
                                        class="mdi mdi-adjust"></i><span class="hide-menu"> Mobile Users </span></a>
                                </li>
                                <!--<li class="sidebar-item"><a th:href="@{/ussd-users}" class="sidebar-link"><i class="mdi mdi-adjust"></i><span class="hide-menu"> USSD Users </span></a></li>-->
                            <!--</th:block>-->
                        </ul>
                    </li>

                    <!--<li class="sidebar-item">-->
                        <!--<a class="sidebar-link waves-effect waves-dark has-arrow" href="javascript:void(0)"-->
                           <!--aria-expanded="false">-->
                            <!--<i class="ti-link"></i>-->
                            <!--<span class="hide-menu">Corporate Management</span>-->
                        <!--</a>-->
                        <!--<ul aria-expanded="false" class="collapse  first-level">-->
                            <!--<li class="sidebar-item"><a th:href="@{/corporate}" class="sidebar-link"><i-->
                                    <!--class="mdi mdi-adjust"></i><span class="hide-menu"> Corporates Register </span></a></li>-->
                            <!--<li class="sidebar-item"><a th:href="@{/employee}" class="sidebar-link"><i-->
                                    <!--class="mdi mdi-adjust"></i><span class="hide-menu"> Employee Register </span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <!--<li class="sidebar-item">-->
                        <!--<a class="sidebar-link waves-effect waves-dark has-arrow" href="javascript:void(0)"-->
                           <!--aria-expanded="false">-->
                            <!--<i class="ti-layers"></i>-->
                            <!--<span class="hide-menu">Fee Management</span>-->
                        <!--</a>-->
                        <!--<ul aria-expanded="false" class="collapse  first-level">-->
                            <!--<li class="sidebar-item"><a th:href="@{/fee-groups}" class="sidebar-link"><i-->
                                    <!--class="mdi mdi-adjust"></i><span class="hide-menu"> Fee Groups </span></a></li>-->
                            <!--<li class="sidebar-item"><a th:href="@{/fees}" class="sidebar-link"><i-->
                                    <!--class="mdi mdi-adjust"></i><span class="hide-menu"> Fee </span></a></li>-->
                        <!--</ul>-->
                    <!--</li>-->

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark has-arrow" href="javascript:void(0)"
                           aria-expanded="false">
                            <i class="ti-wallet"></i>
                            <span class="hide-menu">Transactions</span>
                        </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a th:href="@{/transactions}" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu"> Transactions </span></a></li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a aria-expanded="false" class="sidebar-link waves-effect waves-dark has-arrow"
                           href="javascript:void(0)">
                            <i class="ti-wallet"></i>
                            <span class="hide-menu">Loan</span>
                        </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link" th:href="@{/loan-application}"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu">Loan Application </span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark has-arrow" href="javascript:void(0)"
                           aria-expanded="false">
                            <i class="ti-map"></i>
                            <span class="hide-menu">Reports</span>
                        </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a th:href="@{/corporates-report}" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu"> Corporates Reports </span></a></li>
                            <li class="sidebar-item"><a th:href="@{/failed-transactions}" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu"> Failed Reports </span></a></li>
                        </ul>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                           aria-expanded="false">
                            <i class="ti-settings"></i>
                            <span class="hide-menu"> Configurations </span>
                        </a>
                        <ul aria-expanded="false" class="collapse  first-level">
                            <li class="sidebar-item"><a th:href="@{/system-settings}" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu"> Settings </span></a></li>
                            <li class="sidebar-item"><a th:href="@{/maker-checker}" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu"> MakerChecker </span></a></li>
                            <li class="sidebar-item"><a th:href="@{/reason-codes}" class="sidebar-link"><i
                                    class="mdi mdi-adjust"></i><span class="hide-menu"> ReasonCodes </span></a></li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" th:href="@{/audit-logs}"
                           aria-expanded="false">
                            <i class="ti-pulse"></i><span class="hide-menu">Audit Logs</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>

</th:block>

</body>
</html>