<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <title>Faida Yetu &middot; Dashboard </title>

    <link th:href="@{/plugins/css-chart/css-chart.css}" rel="stylesheet">
    <link th:href="@{/plugins/morris-chart/morris.css}" rel="stylesheet">

</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">

            <div class="col-12 align-self-center">
                <h4 class="page-title">Dashboard</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12 col-lg-3">
                <div class="card card-hover">
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="m-r-10">
                                <span>Users</span>
                                <h4 th:text="${data.systemUsers}"></h4>
                            </div>
                            <div class="ml-auto">
                                <span class="text-primary display-6"><i class="ti-user"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-3">
                <div class="card card-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span>No. of Transactions</span>
                                <h4 th:text="${data.transactions}"></h4>
                            </div>
                            <div class="ml-auto">
                                <span class="text-danger display-6"><i class="ti-server"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-3">
                <div class="card card-hover">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="m-r-10">
                                <span>No. of Employees </span>
                                <h4 th:text="${data.totalMembers}"></h4>
                            </div>
                            <div class="ml-auto">
                                <span class="text-info display-6"><i class="ti-user"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-lg-3">
            <div class="card card-hover">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="m-r-10">
                            <span> Total Transacted </span>
                            <h4 th:text="${data.totalRevenue}"></h4>
                        </div>
                        <div class="ml-auto">
                            <span class="text-warning display-6"><i class="ti-money"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <!--world map-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            <!-- title -->
                            <div class="d-flex align-items-center">
                                <div>
                                    <h4 class="card-title">Transactions</h4>
                                    <h5 class="card-subtitle">Performance this week</h5>
                                </div>
                            </div>
                            <!-- title -->
                            <div class="m-t-30">
                                <!--<div id="placeholder" class="" style="height:250px;"></div>-->
                                <div id="morris-area-chart"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/plugins/morris-chart/raphael.min.js}"></script>
    <script th:src="@{/plugins/morris-chart/morris.js}"></script>
    <script th:src="@{/plugins/moment.min.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>

</th:block>

</body>
</html>