.error-box{
   background-color: #323743;
}
.ex-page-content {
    font-family: 'Varela Round', sans-serif;
    width: 400px;
    margin: 3% auto;
}

.ex-page-content .text-error {
    color: #252932;
    font-size: 98px;
    font-weight: 700;
    line-height: 150px;
}