<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/report-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; Loan Application </title>

    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">

</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Loan Application</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Loan Application</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <!-- basic table -->
        <div class="row  parent-panel">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-inverse">
                        <div class="float-right">
                            <button type="button" class="btn btn-primary" data-action="refresh">Refresh </button>

                            <div class="btn-group status ">
                                <button type="button" class="btn btn-danger dropdown-toggle title-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    -- Status --
                                </button>
                                <div class="dropdown-menu filter">
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="">-- Status --</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Approved">Approved</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Declined">Declined</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Pending">Pending</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Paid">Paid</a>
                                    <a class="dropdown-item" href="javascript:void(0)" data-filter="status" data-index="Overdue">Overdue</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--</div>-->

                    <div class="card-body view-Loans">
                        <div class="table-responsive">
                            <th:block sec:authorize = "hasRole('Loans')" >
                            <table id="zero_config" class="table table-sm table-striped table-bordered table-loan-applications " style="width: 100%">
                                <thead>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Disbursement Account</th>
                                    <th>Corporate</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <th>Date/Time</th>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Disbursement Account</th>
                                    <th>Corporate</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                            </th:block>
                                <th:block sec:authorize="!hasRole('Loans')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
   <!-- <script th:src="@{/js/app-util.js}" ></script>-->

    <script th:src="@{/js/loan/loans.js}"></script>
</th:block>

</body>
</html>