<!DOCTYPE html>
<html layout:decorator="layouts/default-layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; Loan Application </title>
    <link rel="stylesheet" th:href="@{/plugins/datatables/datatables.min.css}">
</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Loan Application</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li aria-current="page" class="breadcrumb-item active">Loan Application</li>
                        </ol>
                    </nav>
                </div>
            </div>


        </div>
    </div>


    <div class="container-fluid">

        <div th:replace="fragments/ajax-util::ajax"></div>

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-inverse">
                        <ul class="nav nav-pills mt-0 float-left">
                            <li class="nav-item active-user-view">
                                <a aria-selected="true" class="nav-link active " data-toggle="tab" href="#active" role="tab">
                                    Active Loans
                                </a>
                            </li>

                            <li class="nav-item new-user-view">
                                <a aria-selected="false" class="nav-link" data-toggle="tab" href="#new" role="tab">
                                    New Applications
                                </a>
                            </li>

                            <li class="nav-item edited-user-view">
                                <a aria-selected="false" class="nav-link" data-toggle="tab" href="#edited" role="tab">
                                    Declined Loans
                                </a>
                            </li>

                            <li class="nav-item deactivated-user-view">
                                <a aria-selected="false" class="nav-link" data-toggle="tab" href="#deactivated" role="tab">
                                    Repaid Loans
                                </a>
                            </li>
                        </ul>

                        <div class="float-right">
                            <button class="btn btn-primary white " data-action="refresh" type="button">Refresh </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content tabcontent-border">
                            <div class="tab-pane active" id="active" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Active Users')">
                                    <table cellspacing="0" class="table table-sm table-bordered compact table-active-records" width="100%" >
                                        <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Disbursement Account</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Active Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="new" role="tabpanel">
                                <th:block sec:authorize="hasRole('View New Users')">
                                    <table cellspacing="0" class="table table-sm table-bordered compact table-new" width="100%" >
                                        <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Disbursement Account</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View New Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="edited" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Edited Users')">
                                    <table cellspacing="0" class="table table-sm table-bordered compact table-edited" width="100%" >
                                        <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Disbursement Account</th>
                                            <th>Status</th>
                                            <th>Id</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Edited Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="deactivated" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Deactivated Users')">
                                    <table cellspacing="0" class="table table-sm table-bordered compact table-deactivated" width="100%" >
                                        <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Disbursement Account</th>
                                            <th>Status</th>
                                            <th>Id</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Deactivated Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>

                            <div class="tab-pane" id="inactive" role="tabpanel">
                                <th:block sec:authorize="hasRole('View Inactive Users')">
                                    <table cellspacing="0" class="table table-sm table-bordered compact table-inactive" width="100%" >
                                        <thead>
                                        <tr>
                                            <th>Date/Time</th>
                                            <th>Name</th>
                                            <th>Amount</th>
                                            <th>Disbursement Account</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </th:block>
                                <th:block sec:authorize="!hasRole('View Inactive Users')">
                                    <th:block th:replace="fragments/access-denied::block"></th:block>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/app-utils.js}" ></script>
    <script th:src="@{/js/loan/loan-application.js}"></script>
</th:block>

</body>
</html>