<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" >
<head>
    <meta charset="utf-8" />
    <title> Faida Yetu &middot; Fees </title>

    <link th:href="@{/plugins/datatables/datatables.min.css}" rel="stylesheet">


</head>
<body>

<th:block layout:fragment="content" >

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 align-self-center">
                <h4 class="page-title">Fees</h4>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Fees</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        <div th:replace="fragments/ajax-util::ajax"></div>

        <!-- basic table -->
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-header bg-inverse">
                        <ul class="nav nav-pills mt-0 float-left">
                            <li class="nav-item active-Fee-view">
                                <a class="nav-link active" data-toggle="tab" href="#active" role="tab" aria-selected="true">
                                    Active
                                </a>
                            </li>

                            <li class="nav-item new-Fee-view">
                                <a class="nav-link" data-toggle="tab" href="#new" role="tab" aria-selected="false">
                                    New
                                </a>
                            </li>

                            <li class="nav-item edited-Fee-view">
                                <a class="nav-link" data-toggle="tab" href="#edited" role="tab" aria-selected="false">
                                    Edited
                                </a>
                            </li>

                            <li class="nav-item deactivated-Fee-view">
                                <a class="nav-link" data-toggle="tab" href="#deactivated" role="tab" aria-selected="false">
                                    Deactivation Requests
                                </a>
                            </li>

                            <li class="nav-item inactive-Fee-view">
                                <a class="nav-link" data-toggle="tab" href="#inactive" role="tab" aria-selected="false">
                                    Inactive
                                </a>
                            </li>

                        </ul>

                        <div class="float-right">
                            <button class="btn btn-primary" data-action="refresh" type="button">Refresh </button>
                            <button type="button" class="btn btn-default create-Fee-view" data-toggle="modal" data-target=".edit-view"> New </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="tab-content tabcontent-border">

                            <div class="tab-pane active" id="active" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-active-records" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Fee Group Type</th>
                                        <th>Group</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="new" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-new" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Fee Group Type</th>
                                        <th>Group</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="edited" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-edited" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Fee Group Type</th>
                                        <th>Group</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="deactivated" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-deactivated" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Fee Group Type</th>
                                        <th>Group</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                            <div class="tab-pane" id="inactive" role="tabpanel">

                                <table class="table table-sm table-bordered compact table-inactive" cellspacing="0" width="100%" >
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Fee Group Type</th>
                                        <th>Group</th>
                                        <th>Created On</th>
                                        <th>Updated On</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="modals">

    <div class="modal fade edit-view" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" autocomplete="off">
                    <div class="modal-header bg-primary">
                        <h5 class="modal-title" >Fee Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                                <div class="form-group m-form__group">
                                    <label> Name </label>
                                    <input type="text" name="name" class="form-control m-input" placeholder="Name" required="required" maxlength="50"/>
                                </div>

                                <div class="form-group">
                                    <label>Amount </label>
                                    <input type="number" name="amount" class="form-control m-input" placeholder="Amount" required="required" min="1" max="999999" />
                                </div>

                                <div class="form-group">
                                    <label> Fee Group Type </label>
                                    <select name="feeGroupNo" class="form-control" required>
                                        <option value=""> Select Fee Group Type </option>
                                        <option th:each="item : ${feeGroups}"
                                                th:value="${item.id}"
                                                th:text="${item.name}"></option>
                                    </select>
                                </div>

                        <div class="form-group">
                            <label> Select Group </label>
                            <select name="groupNo" class="form-control" required>
                                <option value=""> Select Group </option>
                                <option th:each="item : ${groupNo}"
                                        th:value="${item.id}"
                                        th:text="${item.groupName}"></option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="action" value="new" />
                        <input type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-success ">Save</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments/makerchecker::modals"></div>

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/plugins/datatables/datatables.min.js}"></script>
    <script th:src="@{/js/fee-manager/fees.js}"></script>
</th:block>

</body>
</html>